build/
.gradle/
.idea/
lib/*
*.iml
*.log
*.log.*
*.csv
config.json
src/test/data/sandbox/
preferences.json
.DS_Store
./screenshot*.png
classes/
/data/
/bin/
docs/images/Thumbs.db
src/test/data/ConfigUtilTest/SomeFile.json
src/test/data/JsonUserPrefsStorageTest/SomeFile.json
src/test/data/XmlAddressBookStorageTest/SomeFile.xml
docs/.UserGuide.md.html
docs/.DeveloperGuide.md.html