@import "Fonts.css";

.main {
    -fx-background-color: #2D2D2D;
    -fx-border-color: #00A4FF;
    -fx-border-width: 1px;
    -fx-padding: 12;
    -fx-spacing: 4;
    -fx-font-family: "Roboto";
}

.text1 {
    -fx-text-fill: #f3f3f3;
    -fx-fill: #f3f3f3;
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 17pt;
}

.text2 {
    -fx-text-fill: #f3f3f3;
    -fx-fill: #f3f3f3;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 15pt;
}

.text3 {
    -fx-text-fill: #f3f3f3;
    -fx-fill: #f3f3f3;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 13pt;
}

.text4 {
    -fx-text-fill: #f3f3f3;
    -fx-fill: #f3f3f3;
    -fx-font-size: 12pt;
}

.code {
    -fx-font-family: "Roboto Mono Medium";
}

.bolder {
    -fx-font-weight: bolder;
}

.underline {
    -fx-underline: true;
}

.gridPanel {
    -fx-hgap: 16pt;
    -fx-vgap: 2pt;
    -fx-background-color: #3D3D3D;
    -fx-padding: 8 8 8 8;
}

.spacingBig {
    -fx-spacing: 16px;
    -fx-hgap: 16px;
    -fx-vgap: 16px;
}

.spacing {
    -fx-spacing: 8px;
    -fx-hgap: 8px;
    -fx-vgap: 8px;
}

.spacingSmall {
    -fx-spacing: 2px;
    -fx-hgap: 2px;
    -fx-vgap: 2px;
}

.subheadingPadding {
    -fx-padding: 0 0 0 2;
}


.commandFeedback{
    -fx-text-fill: #f3f3f3;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 12pt;
}

.commandFeedback.error {
    -fx-text-fill: #FF6464;
}

.commandInput {
    -fx-font-family: "Roboto Mono Medium";
    -fx-font-size: 20px;
}

.commandInput.error {
    -fx-border-color: #FF6464;
    -fx-border-width: 2px;
    -fx-text-fill: #FF6464;
}

.commandError {
    -fx-text-fill: #f3f3f3;
    -fx-font-size: 12pt;
    -fx-wrap-text: true;
}

.roundLabel {
    -fx-background-radius: 100;
    -fx-text-fill: #f3f3f3;
    -fx-background-color: #2D2D2D;
    -fx-font-size: 10pt;
}

/***View Filter Styles Start***/
.viewFilter {
    -fx-padding: -12 0 0 0;
    -fx-hgap: -3;
}

.viewFilter .label {
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 14pt;
    -fx-font-smoothing-type: gray;
    -fx-text-fill: #ddd;
}

.viewFilter .viewFilterItem {
    -fx-padding: 0 12 2;
}

.viewFilter .selected {
    -fx-background-color: #f3f3f3;
    -fx-background-radius: 100;
}

.viewFilter .selected .label {
    -fx-text-fill: #2D2D2D;
}

/*@@author A0135817B */
.searchStatus {
    -fx-padding: 4px;
}

.searchStatus Text {
    -fx-font-size: 16px;
    -fx-fill: #f3f3f3;
}

.searchStatus .searchLabel {
}

.searchStatus .searchTerm {
    -fx-font-weight: bold;
}

.searchStatus .searchCount {
    -fx-text-alignment: right;
}

/*@@author A0135805H */
/***TaskCardView Styles Start***/
/*Default and Base*/
.taskCard {
    primary-color: transparent;
    font-color: #444;
    selected-color: #00A4FF;
    
    -fx-border-width: 0 12 0 0;
    -fx-border-color: primary-color;
}

.taskCard #dateBox {
    -fx-background-color: primary-color;
}

.taskCard #dateBox .label {
    -fx-text-fill: font-color; 
}

.taskCard .label {
    -fx-text-fill: #444;
}

.taskCard .titleLabel {
    -fx-font-size: 16pt;
    -fx-font-family: "Roboto Medium";
}

.taskCard .descriptionLabel {
    -fx-font-size: 12pt;
}

.taskCard .footnoteLabel {
    -fx-font-size: 10pt;
    -fx-font-style: italic;
    -fx-padding: 0 0 2 2;
}

.taskCard .highlightedBackground {
    -fx-background-color: #00A4FF;
}

.taskCard .lightBackground {
    -fx-background-color: #d2d2d2;
}

.taskCard .roundLabel {
    -fx-text-fill: rgba(255, 255, 255, .9);
    -fx-padding: 1 8 2;
}

.taskCard .pinImage {
    -fx-image: url("../images/star_gold.png");
    -fx-fit-to-width: 30px;
    -fx-fit-to-height: 30px;
}

.taskCard .dateImage {
    -fx-image: url("../images/clock_black.png");
    -fx-fit-to-width: 20px;
    -fx-fit-to-height: 20px;
}

.taskCard .locationImage {
    -fx-image: url("../images/location_black.png");
    -fx-fit-to-width: 20px;
    -fx-fit-to-height: 20px;
}

/*Completed*/
.completed {
    -fx-opacity: 0.6;
}

.completed.selected {
    -fx-opacity: 0.85;
}

.completed .label {
    -fx-text-fill: font-color;
}

.completed .titleLabel .text {
    -fx-strikethrough: true;
}

.completed .roundLabel {
    -fx-background-color: font-color;
    -fx-text-fill: #fff;
}

.completed .pinImage {
    -fx-image: url("../images/star_grey.png");
}

.completed .dateImage {
    -fx-image: url("../images/clock_grey.png");
}

.completed .locationImage {
    -fx-image: url("../images/location_grey.png");
}

/* Overdue and ongoing inverts their highlights their dateBox, so 
   we add some padding to allow the */
.overdue #dateBox, 
.ongoing #dateBox {
    -fx-padding: 3 8;
    -fx-background-radius: 4;
}

.overdue .dateImage, 
.ongoing .dateImage, 
.selected .dateImage {
    -fx-image: url("../images/clock_white.png");
}

.overdue .locationImage,
.ongoing .locationImage,
.selected .locationImage {
    -fx-image: url("../images/location_white.png");
}

/*Overdue*/
.overdue {
    primary-color: #e53935;
    selected-color: #b71c1c;
    font-color: rgba(255, 255, 255, .92);
}

/*@@author A0092382A */
/*Ongoing*/
.ongoing {
    primary-color: #689f38;
    selected-color: #33691e;
    font-color: rgba(255, 255, 255, .9);
}

/* @@author A0135805H */
/*Selected*/
.selected {
    font-color: rgba(255, 255, 255, .9);
    -fx-background-color: selected-color;
}

.selected .label {
    -fx-text-fill: font-color;
}

.selected .roundLabel {
    -fx-background-color: #fff;
    -fx-text-fill: selected-color;
}

.selected .pinImage {
    -fx-image: url("../images/star_white.png");
}

/*Collapse*/
.collapsed .collapsible {
    visibility: collapse;
    -fx-pref-height: 0px;
    -fx-min-height: 0px;
}

/***TaskCardView Styles End***/

/*@@author -reused */
/**Modern UI***/
/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Roboto";
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #fff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}
