/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, 
caption, tbody, tfoot,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* LAYOUT STYLES */
body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #1d1d1d;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
}

a {
  color: #d5000d;
}
a:hover {
  color: #c5000c;
}

header {
  padding-top: 35px;
  padding-bottom: 25px;
}

header h1 {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 48px; font-weight: 900;
  line-height: 1.2;
  color: #303030;
  letter-spacing: -1px;
}

header h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.3;
  color: #aaa;
  letter-spacing: -1px;
}

#container {
  min-height: 595px;
  background: transparent url(../images/highlight-bg.jpg) 50% 0 no-repeat;
}

.inner {
  width: 820px;
  margin: 0 auto;
}

#container .inner img {
  max-width: 100%;
}

#downloads {
  margin-bottom: 40px;
}

a.button {
  display: block;
  float: left;
  width: 179px;
  padding: 12px 8px 12px 8px;
  margin-right: 14px;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  color: #303030;
  background: #fdfdfd; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
  border-top: solid 1px #cbcbcb;
  border-right: solid 1px #b7b7b7;
  border-bottom: solid 1px #b3b3b3;
  border-left: solid 1px #b7b7b7;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: 10px 10px 5px #888;
  box-shadow: 0px 1px 5px #e8e8e8;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}
a.button:hover {
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f6f6f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f6f6f6, 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
  border-top: solid 1px #b7b7b7;
  border-right: solid 1px #b3b3b3;
  border-bottom: solid 1px #b3b3b3;
  border-left: solid 1px #b3b3b3;
}

a.button span {
  display: block;
  height: 23px;
  padding-left: 50px;
}

#download-zip span {
  background: transparent url(../images/zip-icon.png) 12px 50% no-repeat;
}
#download-tar-gz span {
  background: transparent url(../images/tar-gz-icon.png) 12px 50% no-repeat;
}
#view-on-github span {
  background: transparent url(../images/octocat-icon.png) 12px 50% no-repeat;
}
#view-on-github {
  margin-right: 0;
}

code, pre {
  padding: 3px 3px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  font-size: 14px;
  color: #222;
  margin-bottom: 9px;
}

code {
  background-color: #dcdcdc;
  border: solid 2px #d1d1d1;
  border-radius: 3px;
}

h3 code {
  font-size: inherit;
}

pre {
  display: block;
  overflow: auto;
  color: #f2f2f2;
  text-shadow: none;
  background: #303030;
  border: solid 2px #d1d1d1;
  border-radius: 6px;
}

pre.header {
  display: block;
  overflow: auto;
  color: #303030;
  text-shadow: none;
  background: #f2f2f2;
  border: solid 1px #d1d1d1;
  border-radius: 6px;
}

ul, ol, dl {
  margin-bottom: 20px;
}


/* COMMON STYLES */

hr {
  height: 1px;
  padding-bottom: 1em;
  margin-top: 1em;
  line-height: 1px;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
  border: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  border: 3px solid #ebebeb;
}

form {
  padding: 20px;
  background: #f2f2f2;
}

/* TABLES */
/* From http://tablestyler.com/# */

.datagrid table {
	table-layout: auto;
    border-collapse: collapse;
    text-align: left;
    width: 1%;
	white-space: nowrap;
	background: #fff;
}
.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    overflow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	margin-bottom: 32px;
}
.datagrid table td,
.datagrid table th {
    padding: 6px 8px;
}
.datagrid table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #575757), color-stop(1, #7D7D7D));
    background: -moz-linear-gradient( center top, #575757 5%, #7D7D7D 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#7D7D7D');
    background-color: #575757;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    border-left: 1px solid #A3A3A3;
}
.datagrid table thead th:first-child {
    border: none;
}
.datagrid table tbody td {
    color: #7D7D7D;
    border-left: 2px solid #DBDBDB;
    font-size: 12px;
    border-bottom: 1px solid #FFFFFF;
    font-weight: normal;
}
.datagrid table tbody td:first-child {
    border-left: none;
}
.datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.datagrid table tfoot td div {
    border-top: 1px solid #8C8C8C;
    background: #EBEBEB;
}
.datagrid table tfoot td {
    padding: 0;
    font-size: 12px
}
.datagrid table tfoot td div {
    padding: 2px;
}
.datagrid table tfoot td ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}
.datagrid table tfoot li {
    display: inline;
}
.datagrid table tfoot li a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #F5F5F5;
    border: 1px solid #8C8C8C;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D));
    background: -moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
    background-color: #8C8C8C;
}
.datagrid table tfoot ul.active,
.datagrid table tfoot ul a:hover {
    text-decoration: none;
    border-color: #7D7D7D;
    color: #F5F5F5;
    background: none;
    background-color: #8C8C8C;
}
div.dhtmlx_window_active,
div.dhx_modal_cover_dv {
    position: fixed !important;
}

/* GENERAL ELEMENT TYPE STYLES */

h1 {
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 48px;
}

h2 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: bold;
  color: #303030;
}

h3 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: bold;
  color: #d5000d;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  color: #303030;
}

h5 {
  font-size: 1em;
  color: #303030;
}

h6 {
  font-size: .8em;
  color: #303030;
}

p {
  margin-bottom: 20px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  padding: 0 0 0 30px;
  margin-bottom: 20px;
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
}

ul {
    list-style: none;
}

ul li {
    position: relative;
    text-indent: 1em;
}

ul li:before {
    /*
    The desired width gets defined in two places: The element width, and background size.
    The height only gets defined once, in background size.
    */
    position: absolute;
    display: block;
    content: '\2022'; /* bullet point, for screen readers */
    text-indent: -999999px; /* move the bullet point out of sight */
    left: -.75em;   
    width: 20px; /* desired width of the image */
    height: 2em; /* unrelated to image height; this is so it gets snipped */
    background-repeat: no-repeat;
    background-image: url('../images/Magnifying_glass_icon.svg.png');
    background-size: 20px 20px;
    background-position: 0 .2em;
}

ol.indent li {
    text-indent: 2em;
}

dl dt {
  color: #303030;
}

footer {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 40px;
  font-size: 13px;
  color: #aaa;
  background: transparent url('../images/hr.png') 0 0 no-repeat;
}

footer a {
  color: #666;
}

footer a:hover {
  color: #444;
}

figure {
  text-align: center;
}

figure img {
  margin-top: 30px;
}

figcaption {
  font-size: 14px;
  margin-bottom: 30px;
}

/* MISC */
.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '.';
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) { }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) { }

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #downloads {
    margin-bottom: 25px;
  }
  #download-zip, #download-tar-gz {
    display: none;
  }
  .inner {
    width: 94%;
    margin: 0 auto;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) { }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) { }
