/*
 * CMDo Root Design 
 * @author A0141006B 
 */
 
.root {
	-fx-background-colour: white;
	-fx-padding: 10;
}

/*
 * CMDo Task Box
 * 
 */
 
.hbox {
    -fx-background-color: #2f4f4f;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.vbox {
    -fx-border-color: #2e8b57;
    -fx-padding: 10;
    -fx-spacing: 8;
}
 