.background {
    -fx-background-color: lightslategrey;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: lightslategrey;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 1;
    -fx-padding: 0 10 10 10;
}

.label-header {
	-fx-background-color: black;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: lightslategrey;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: midnightblue;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: #1d1d1d;
    -fx-table-header-border-color: #1d1d1d;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: black;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #1d1d1d;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 100%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #1d1d1d;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-border-color: lightskyblue	;
    -fx-background-color: lightskyblue	;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: lightskyblue;
}

.list-cell {
	-fx-background-color: lightskyblue;
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 5 5 5 5;
}

.list-cell .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-size: 11px;
    -fx-text-fill: #010504;
}

.anchor-pane {
     -fx-background-color: lightslategrey;
}

.anchor-pane-with-border {
     -fx-background-color: midnightblue;
     -fx-border-color: midnightblue;
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.result-display {
    -fx-background-color: midnightblue;
}

.result-display .label {
    -fx-text-fill: lightslategrey !important;
    -fx-background-color: yellow;   
}

.status-bar .label {
    -fx-text-fill: black;
}

.status-bar-with-border {
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-width: 5px;
}

.status-bar-with-border .label {
    -fx-text-fill: black;
    -fx-border-with: 10px;
}

.grid-pane {
    -fx-background-color: black;
    -fx-border-color: midnightblue;
    -fx-border-width: 5px;
}

.grid-pane .anchor-pane {
    -fx-background-color: lightslategrey;
}

.context-menu {
    -fx-background-color: lightslategrey;
}

.context-menu .label {
    -fx-text-fill: lightslategrey;
}

.menu-bar {
    -fx-background-color: lightslategrey;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: lightslategrey;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: lightslategrey;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: black;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: black;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: indigo;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: indigo;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: indigo;
    -fx-text-fill: indigo;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-border-color: lightskyblue;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 0px;
    -fx-background-color: white;
}

#commandTypeLabel {
    -fx-font-size: 1px;
    -fx-text-fill: #F70D1A;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

.cardPaneBackground {
	-fx-background-color: lightskyblue;
}