/* @@author A0142605N */

.background, .anchorpane, .header {
    -fx-background-color: #fff;
}

.card-title {
    -fx-font-size: 14px;
    -fx-text-fill: #000;
}

.card-text {
    -fx-font-size: 11px;
    -fx-text-fill: #010504;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#fff, 20%);
}

.split-pane:horizontal .split-pane-divider {
    -fx-border-color: transparent #fff transparent #fff;
    -fx-background-color: transparent, derive(#fff, 10%);
}

.list-cell {
    -fx-background-color: #fff; 
    -fx-border-width: 0px;  
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:empty {
    -fx-background-color: derive(#fff, 20%);
}

.list-cell:selected{
    -fx-background-color: #eee; 
}

.grid-pane {
    -fx-background-color: derive(#fff, 30%);
    -fx-border-color: #fff; 
    -fx-border-width: 1px;
}

/*  scrollbar */ 
.scroll-bar .thumb {
    -fx-background-color: derive(#fff, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}
