
.group0 { -fx-background-color: #A47AE2; -fx-fill: #AC725E; }

.panel-header {
    -fx-font-size: 15pt;
    -fx-font-family: "Times New Roman";
    -fx-text-fill:white;
}


.Agenda .Selected { 
	-xfx-color: -fx-focused-base;
	-fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
	-fx-background-insets: -1.4, 0, 1, 2;
	-fx-background-radius: 6.4, 5, 4, 3;
}

.error {
    -fx-background-color: red;
}

.status-complete {
    -fx-background-color: lavender;
}


.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}
