\<table>
<thead>
<tr class="header">
<th>Command</th>
<th align="left">Format</th>
<th align="left">Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Help</td>
<td align="left"><code>help</code></td>
<td align="left">Opens the help page in a new window</td>
</tr>
<tr class="even">
<td>Add</td>
<td align="left"><code>add TASK_NAME [d/DESCRIPTION] [date/DATE_TIME] [t/TAGS]</code></td>
<td align="left">Adds a task</td>
</tr>
<tr class="odd">
<td>List</td>
<td align="left"><code>list all/done/od</code><br> <code>ls all/done/od</code></td>
<td align="left">Lists the desired tasks</td>
</tr>
<tr class="even">
<td>Edit</td>
<td align="left"><code>edit INDEX [TASK_NAME] [d/DESCRIPTION] [date/DATE_TIME] [t/TAGS]</code></td>
<td align="left">Edits a task</td>
</tr>
<tr class="odd">
<td>Find</td>
<td align="left"><code>find KEYWORD[...]</code></td>
<td align="left">Finds and displays tasks with KEYWORD[…]</td>
</tr>
<tr class="even">
<td>View</td>
<td align="left"><code>view DATE</code></td>
<td align="left">Views the tasks on a specific date</td>
</tr>
<tr class="odd">
<td>Delete</td>
<td align="left"><code>delete INDEX</code> <br> <code>del INDEX</code></td>
<td align="left">Deletes a task</td>
</tr>
<tr class="even">
<td>Undo</td>
<td align="left"><code>undo</code></td>
<td align="left">Undoes the last action</td>
</tr>
<tr class="odd">
<td>Redo</td>
<td align="left"><code>redo</code></td>
<td align="left">Redoes the last undo</td>
</tr>
<tr class="even">
<td>Done</td>
<td align="left"><code>done INDEX</code></td>
<td align="left">Marks a task as complete</td>
</tr>
<tr class="odd">
<td>Select</td>
<td align="left"><code>select INDEX</code> <br> <code>sel INDEX</code></td>
<td align="left">Selects and scrolls to the task</td>
</tr>
<tr class="even">
<td>Save</td>
<td align="left"><code>save FOLDERPATH</code></td>
<td align="left">Changes the location of the save file</td>
</tr>
<tr class="odd">
<td>Exit</td>
<td align="left"><code>exit</code></td>
<td align="left">Exits sTask</td>
</tr>
</tbody>
</table>