/** @@author A0138862W */
* {
    -fx-primary: #66D9EF; /* lightblue */
    -fx-secondary: #FD971F; /* orange */
    -fx-tertiary: #A6E22E; /* green */
    -fx-quaternary: #F92672; /* pink */
    -fx-quinary: #272822; /* black */
    -fx-quinary-alt: #1f201b;
}
 
.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: -fx-quinary;
    -fx-control-inner-background-alt: -fx-quinary-alt;
    -fx-background-color: -fx-quinary;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 18px;
    -fx-font-family: "Verdana";
    -fx-text-fill: -fx-primary;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-row-cell {
    -fx-cell-size: 55px;
}

.table-row-cell:selected {
   -fx-background-color: black;
   -fx-table-cell-border-color: black;
   -fx-border-width: 2px 2px 2px 2px;
   -fx-border-color: -fx-primary;
   -fx-border-style: dashed;
}

.text-field{
    -fx-background-color: #3f3f3f;
    -fx-font-size: 12pt;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: -fx-primary;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.tab-pane .tab-header-area .headers-region,
.tab-pane .tab-header-area .tab-header-background{
    -fx-background-color: -fx-quinary;
}

.tab-pane .tab-header-area .tab{
    -fx-background-color: -fx-quinary;
}

.tab-pane .tab-header-area .tab-label{
    -fx-text-fill: lightGray;
    -fx-font-weight: bold;
    -fx-font-style: oblique;
}

.tab-pane .tab-header-area .tab:selected .tab-label{
    -fx-text-fill: -fx-primary;
    -fx-font-weight: bold;
}

.text-area,
.text-area .content{
    -fx-background-color: #1d1d1d;
    -fx-font-size: 12pt;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: -fx-primary;
}

.list-view{
    -fx-background-color: #1d1d1d;
}

.label{
    -fx-text-fill: white;
    -fx-font-family: "Verdana";
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-padding: 15px;
    -fx-font-style: oblique;
}

.list-cell{
    -fx-cell-size: 50;
    -fx-padding: 10 5 10 15;
    -fx-background-color: -x-quinary;
    -fx-text-fill: white;
}

.list-cell:filled:selected:focused{
    -fx-background-color: #1a1a1a;
}

.scroll-bar,
.scroll-bar .decrement-button,
.scroll-bar .increment-button{
    -fx-background-color: -fx-quinary;
}

.scroll-bar .thumb,
.scroll-bar .decrement-button > .decrement-arrow,
.scroll-bar .increment-button > .increment-arrow{
    -fx-background-color: -fx-primary;
}

.action-history-item .title{
    -fx-text-fill: -fx-primary;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-padding: 0px;
}

.action-history-item .date{
    -fx-text-fill: -fx-primary;
    -fx-font-weight: normal;
    -fx-font-size: 10px;
    -fx-font-style: normal;
    -fx-padding: 0px;
}

.action-history-item .description{
    -fx-text-fill: white;
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-padding: 0px;
}

.task-name-column{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.index-column{
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-fill: white;
    -fx-font-style: oblique;
}

.pretty-date{
    -fx-font-weight:bold;
}

.ugly-date{
    -fx-font-size:10px;
}

.tag{
    -fx-background-color: -fx-primary;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: -fx-quinary;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}

.tag-overdue{
    -fx-background-color: -fx-quaternary;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 8px;
    -fx-font-weight: bold;
}

.tag-happening{
    -fx-background-color: -fx-secondary;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font-size: 8px;
    -fx-font-weight: bold;
}

.tag-due-duration,
.tag-event-duration{
    -fx-background-color: darkGray;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font-size: 8px;
    -fx-font-weight: bold;
}

.normal{
    -fx-fill: -fx-tertiary;
}

.overdue{
    -fx-fill: -fx-quaternary;
}

.happening{
    -fx-fill: -fx-secondary;
}

.titled-pane,
.titled-pane .title,
.titled-pane .content{
    -fx-background-color: #1d1d1d;
    -fx-border-color: #1d1d1d;
}

.titled-pane .title{
    -fx-border-width: 2px 0px 0px 0px;
    -fx-border-color: #3f3f3f;
    -fx-border-style: dashed;
}

.titled-pane > .title .text{
    -fx-fill: -fx-primary;
    -fx-font-family: "Lucida Console";
    -fx-font-style: oblique;
    -fx-font-weight: bold;
    
}

.titled-pane .title .arrow-button .arrow{
    -fx-background-color: -fx-primary;
}