/* @@author A0121533W */

/*
 * ====================================================================
 * ============================Fonts===================================
 * ====================================================================
 */

@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/roboto/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/roboto/Roboto-Bold.ttf");
}
 
.root {
	-fx-focus-color: transparent;
}

.background {
    -fx-background-color: #455A64;
}

.list-label {
	-fx-font-size: 18px;
	-fx-text-fill: #212121;
	-fx-background-color: white;
	-fx-font-family: "Roboto Black";
}

/*
 * ====================================================================
 * ========================SplitPane===================================
 * ====================================================================
 */

.split-pane:horizontal .split-pane-divider {
    -fx-border-color: transparent;
    -fx-background-color: lightgrey;
    -fx-padding: 0 0.1 0 0.1;
}

.split-pane {
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-color: white;
}

/*
 * ====================================================================
 * ==========================TabPane===================================
 * ====================================================================
 */
 
.tab-pane {
    -fx-padding: 0 10 0 5;
}

.tab-pane .tab {
    -fx-background-color: white;
    -fx-border-width: 0 0 2 0;
}

.tab .tab-label {
	-fx-font-size: 18px;
	-fx-text-fill: #212121;
	-fx-font-family: "Roboto Black";
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.tab:selected {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: white;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: transparent transparent #2E8AF7 transparent;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane *.tab-header-background {
    -fx-background-color: white;
    -fx-border-width: 1 0 1 0;
}


.thisWeek-panel {
	-fx-background-color: white;
}

.thisWeek-panel-label {
	-fx-font-size: 24px;
	-fx-text-fill: #212121;
}

.date-label {
	-fx-font-size: 32px;
	-fx-text-fill: #212121;
}

/*
 * ====================================================================
 * =========================CommandBox=================================
 * ====================================================================
 */
 
.text-field {
    -fx-font-size: 14px;
    -fx-border-color: transparent;
    -fx-font-family: "Roboto";
    -fx-background-insets: 0;       
}

.text-field:focused {
    -fx-focus-color: transparent;
}

/*
 * ====================================================================
 * ==============Results Display & RsvTask DateTimeList================
 * ====================================================================
 */
 
 .anchor-pane {
     -fx-background-color: #F6F6F6;
}

.result-display {
    -fx-background-color: #F6F6F6;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-background-insets: 0;
}

.result-display .label {
    -fx-text-fill: #212121;
}
 
.text-area {
	-fx-background-insets: 0;
	-fx-background-color: transparent;
}

.text-area .content {
    -fx-background-color: #F6F6F6;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

.dateTimeListArea .content {
	-fx-background-color: white;
}

/*
 * ====================================================================
 * ========ListView and ListCell for TaskList/RsvTaskList==============
 * ====================================================================
 */

.taskList {
	-fx-border-width: 1 0 0 0;
	-fx-border-color: lightgrey;
}

.list-view {
  -fx-background-color: white;
  -fx-background-insets: 0;
  -fx-padding: 0px;
}

#cardPane {
    -fx-background-color: white;
    -fx-border-color: lightgrey;
    -fx-border-width: 0 0 2 0;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:empty {
    -fx-background-color: white;
}
 
.cell_index_label {
	-fx-font-size: 16px;
	-fx-font-family: "Roboto Bold";
}

.cell_big_label {
    -fx-font-size: 16px;
    -fx-font-family: "Roboto";
    -fx-text-fill: #212121;
}

.cell_medium_label {
    -fx-font-size: 14px;
    -fx-font-family: "Roboto";
    -fx-text-fill: #757575;
}

.cell_small_label {
    -fx-font-size: 14px;
    -fx-text-fill: #757575;
    -fx-font-family: "Roboto Thin";
}

.circle_label {
	-fx-font-weight: bold;
	-fx-font-size: 16px;
}


/*
 * ====================================================================
 * ===========================Status Bar===============================
 * ====================================================================
 */
 
 .status-bar {
    -fx-background-color: #2e8af7;
    -fx-text-fill: white;
}

.status-bar .label {
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

/*
 * ====================================================================
 * ============================Dialog==================================
 * ====================================================================
 */

.dialog-pane {
    -fx-background-color: white;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: lightgrey;
}

.dialog-pane > *.label.content {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #212121;
    -fx-font-family: "Roboto";
}

.dialog-pane:header *.header-panel {
    -fx-background-color: white;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 12px;
    -fx-font-style: italic;
    -fx-fill: lightgrey;
    -fx-text-fill: #212121;
    -fx-font-family: "Roboto";
}

/*
 * ====================================================================
 * =========================Scroll-Bar=================================
 * ====================================================================
 */

.scroll-bar .thumb {
    -fx-background-color: darkgrey;
    -fx-background-insets: 2;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 5 1 5;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 5 1 5 1;
}

