.root {
	-fx-focus-color: transparent;
}

.background {
    -fx-background-color: #616161;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Roboto";
    -fx-text-fill: #212121;
    -fx-opacity: 0.9;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Roboto";
    -fx-border-color: transparent;
    -fx-background-insets: 0;       
}

.text-field:focused {
    -fx-focus-color: transparent;
}

.text-area {
	-fx-background-insets: 0;
	-fx-background-color: transparent;
	-fx-font-family: "Roboto";
}

.text-area .content {
    -fx-background-color: #F5F5F5;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

.tab-pane {
    -fx-padding: 0 15 10 10;
}

.tab-pane .tab {
    -fx-background-color: #BDBDBD;
    -fx-border-width: 0 0 2 0;
}

.tab .tab-label {
	-fx-font-size: 10pt;
	-fx-font-family: "Roboto Bold";
	-fx-text-fill: #616161;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.tab:selected {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: #BDBDBD;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: transparent transparent #607D8B transparent;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #BDBDBD;
    -fx-border-width: 1 0 1 0;
}

.split-pane:horizontal .split-pane-divider {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-background-color: transparent, transparent;
}

.split-pane {
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-color: #BDBDBD;
}

.list-view {
  -fx-background-color: #9E9E9E;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:empty {
    -fx-background-color: #9E9E9E;
}
 
.list-cell .label {
    -fx-text-fill: #212121;
}

.cell_index_label {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

.cell_big_label {
    -fx-font-size: 16px;
    -fx-text-fill: #212121;
}

.cell_medium_label {
    -fx-font-size: 14px;
    -fx-text-fill: #757575;
}

.cell_small_label {
    -fx-font-size: 12px;
    -fx-text-fill: #212121;
}

.anchor-pane {
     -fx-background-color: #F5F5F5;
}


.status-bar {
    -fx-background-color: #616161;
    -fx-text-fill: #212121;
}

.info-header .label {
	-fx-text-fill: #F5F5F5;
	-fx-font-size: 16px;
}

.result-display {
    -fx-background-color: #F5F5F5;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-background-insets: 0;
}

.result-display .label {
    -fx-text-fill: #212121 !important;
}

.status-bar .label {
    -fx-text-fill: #F5F5F5;
}

.status-bar-with-border {
    -fx-background-color: #616161;
    -fx-border-color: transparent;
}

.status-bar-with-border .label {
    -fx-text-fill: #F5F5F5;
}

.grid-pane {
    -fx-background-color: #9E9E9E;
    -fx-border-color: #9E9E9E;
    -fx-border-width: 1px;
}

.grid-pane .anchor-pane {
    -fx-background-color: #9E9E9E;
}

.overview-panel {
	-fx-background-color: #CFD8DC;
}

.overview-panel-label {
	-fx-font-size: 32pt;
	-fx-font-family: "Roboto Bold";
	-fx-text-fill: #607D8B;
}

.list-label {
	-fx-font-size: 10pt;
	-fx-font-family: "Roboto Bold";
	-fx-text-fill: #212121;
	-fx-background-color: #BDBDBD;
}

.dialog-pane {
    -fx-background-color: #BDBDBD;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #BDBDBD;
}

.dialog-pane > *.label.content {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: #F5F5F5;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: #616161;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 10px;
    -fx-font-style: italic;
    -fx-fill: #F5F5F5;
    -fx-text-fill: #212121;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #607D8B;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: white;
    -fx-border-color: #9E9E9E;
    -fx-border-width: 0 0 5 0;
}

#filterField, #taskListPanel, #taskWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}