.root {
	-fx-focus-color: transparent;
}

.background {
    -fx-background-color: derive(#4C5564, 20%);
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Helvetica";
    -fx-border-color: transparent;
    -fx-background-insets: 0;       
}

.text-field:focused {
    -fx-focus-color: transparent;
}

.text-area {
	-fx-background-insets: 0;
	-fx-background-color: transparent;
}

.text-area .content {
    -fx-background-color: #F2F2F2;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.split-pane:horizontal .split-pane-divider {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-background-color: transparent, transparent;
}

.split-pane {
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-color: derive(#4C5564, 100%);
}

.list-view {
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:empty {
    -fx-background-color: derive(#4C5564, 100%);
}
 
 .list-cell .label {
    -fx-text-fill: #010504;
}

.cell_index_label {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

.cell_big_label {
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_medium_label {
    -fx-font-size: 14px;
    -fx-text-fill: darkgrey;
}

.cell_small_label {
    -fx-font-size: 12px;
    -fx-text-fill: #010504;
}

.anchor-pane {
     -fx-background-color: #F2F2F2;
}


.status-bar {
    -fx-background-color: #4C5564;
    -fx-text-fill: black;
}

.info-header .label {
	-fx-text-fill: white;
	-fx-font-size: 16px;
}

.result-display {
    -fx-background-color: #F2F2F2;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-background-insets: 0;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-text-fill: white;
    -fx-font-size: 12px;  
}

.status-bar-with-border {
    -fx-background-color: #4C5564;
    -fx-border-color: transparent;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: derive(#4C5564, 100%);
    -fx-border-color: derive(#4C5564, 100%);
    -fx-border-width: 1px;
}

.grid-pane .anchor-pane {
    -fx-background-color: derive(#4C5564, 100%);
}

.context-menu {
    -fx-background-color: derive(#4C5564, 30%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #4C5564;
}

.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Helvetica Bold";
    -fx-text-fill: white;
    -fx-opacity: 1.0;
}

.menu .left-container {
    -fx-background-color: black;
}

.list-label {
	-fx-font-size: 10pt;
	-fx-font-family: "Helvetica Bold";
	-fx-text-fill: #4C5564;
	-fx-background-color: derive(#4C5564, 100%);
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: derive(#4C5564, 100%);
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #4C5564;
    -fx-font-family: Helvetica;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: derive(#4C5564, 100%);
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #4C5564;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #4C5564;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: derive(#4C5564, 100%);
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(#4C5564, 100%);
}

.dialog-pane {
    -fx-background-color: derive(#4C5564, 100%);
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: derive(#4C5564, 100%);
}

.dialog-pane > *.label.content {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#4C5564, 300%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 10px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#4C5564, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: white;
    -fx-border-color: derive(#4C5564, 100%);
    -fx-border-width: 0 0 5 0;
}

#commandTypeLabel {
    -fx-font-size: 10px;
    -fx-text-fill: #F70D1A;
}

#filterField, #taskListPanel, #taskWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}