/* @@author A0148031R */
.all-pane {
	-fx-background-color:  #FFA000;
	-fx-background-radius: 10;
}

.completed-pane {
	-fx-background-color:  #727a87;
	-fx-background-radius: 10;
}

.other-pane {
	-fx-background-color:  #3498DB;
	-fx-background-radius: 10;
}

.list-view {
	-fx-background-color: transparent;
	-fx-background-radius: 10;
}

.list-cell {
	-fx-background-color: transparent;
    -fx-background-radius: 10;
}

.list-cell:empty  {
	-fx-background-color: transparent;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #4DD0E1;
    -fx-text-fill: red;
}

.cell_big_label {
    -fx-font-size: 14pt;
    -fx-opacity: 0.9;
}

.cell_small_label {
    -fx-text-fill: #3a3d42;
    -fx-opacity: 0.9;
}

.hbox {
	-fx-background-radius: 10;
}

.vbox {
	-fx-background-color: transparent;
}