#titleLabel {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #2D2D2D;
    -fx-font-smoothing-type: lcd;
}

#typeLabel0, #typeLabel1, #tagLabel0, #tagLabel1, #tagLabel2, #tagLabel3, #tagLabel4 {
    -fx-background-radius: 10;
    -fx-text-fill: #ffffff;
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semilight";
}

#typeLabel0, #typeLabel1 {
    -fx-background-color: #00A4FF;
}

#typeLabel1 {
    visibility: hidden;
}

#tagLabel0, #tagLabel1, #tagLabel2, #tagLabel3, #tagLabel4 {
    -fx-background-color: #2D2D2D;
}

#descriptionDecoration {
    -fx-background-color: #00A4FF;
    -fx-background-radius: 100;
}

#descriptionLabel {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #2D2D2D;
}

#dateLabel, #locationLabel {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semilight";
    -fx-text-fill: #2D2D2D;
    -fx-font-style: italic;
}

#dateImage {
    -fx-image: url("../../images/clock_black.png");
}

#locationImage {
    -fx-image: url("../../images/location_black.png");
}

#pinImage {
    -fx-image: url("../../images/star_gold.png");
}