#titleLabel .text {
    -fx-strikethrough: true;
}

#titleLabel {
    -fx-text-fill: #7F7F7F;
}

#typeLabel0, #typeLabel1, #tagLabel0, #tagLabel1, #tagLabel2, #tagLabel3, #tagLabel4 {
    -fx-background-color: #7F7F7F;
    -fx-text-fill: #ffffff;
}

#descriptionDecoration {
    -fx-background-color: #7F7F7F;
}

#descriptionLabel {
    -fx-text-fill: #7F7F7F;
}

#dateLabel, #locationLabel {
    -fx-text-fill: #7F7F7F;
}

#dateImage {
    -fx-image: url("../../images/clock_grey.png");
}

#locationImage {
    -fx-image: url("../../images/location_grey.png");
}

#pinImage {
    -fx-image: url("../../images/star_grey.png");
}