#taskCard {
    -fx-background-color: #00A4FF;
}

#titleLabel {
    -fx-text-fill: #FFFFFF;
}

#typeLabel0, #typeLabel1, #tagLabel0, #tagLabel1, #tagLabel2, #tagLabel3, #tagLabel4 {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #00A4FF;
}

#descriptionDecoration {
    -fx-background-color: #FFFFFF;
}

#descriptionLabel {
    -fx-text-fill: #FFFFFF;
}

#dateLabel, #locationLabel {
    -fx-text-fill: #FFFFFF;
}

#dateImage {
    -fx-image: url("../../images/clock_white.png");
}

#locationImage {
    -fx-image: url("../../images/location_white.png");
}

#pinImage {
    -fx-image: url("../../images/star_white.png");
}