#titleLabel {
    -fx-text-fill: #FF6464;
}

#typeLabel0, #typeLabel1 {
    -fx-background-color: #FF6464;
    -fx-text-fill: #ffffff;
}

#descriptionDecoration {
    -fx-background-color: #FF6464;
}

#dateLabel {
    -fx-text-fill: #FF6464;
}

#dateImage {
    -fx-image: url("../../images/clock_red.png");
}