#typeLabel1 {
    visibility: visible;
}

#tagsBox {
    visibility: collapse;
    -fx-pref-height: 0px;
    -fx-min-height: 0px;
}

#descriptionBox {
    visibility: collapse;
    -fx-pref-height: 0px;
    -fx-min-height: 0px;
}